body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li[data-highlighted] {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 200px;
}

li {
  list-style: none;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.combobox-footer {
  font-style: italic;
}
